<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>
    <p>This is products page</p>
	<h2>Products</h2>
	<form action="/save-product" method="post">
	    Name: <input type="text" name="name"><br>
	    Price: <input type="number" name="price"><br>
	    Description: <input type="text" name="description"><br>
	    <button type="submit">Add Product</button>
	</form>

	<div th:each="product : ${products}">
	    <p th:text="${product.name}"></p>
	    <p th:text="${product.price}"></p>

	    <a th:href="@{/cart/add/{id}(id=${product.id})}">
	        <button>Add to Cart</button>
	    </a>
	</div>

	<br>
	<a href="/cart">Go to Cart</a>
</body>
</html>